.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 156px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 28px;
}

.contact__item {
  text-decoration: none;
  position: relative;
  max-width: 370px;
  padding-left: 65px;
}

.contact__social-item:not(:last-child) {
  margin-right: 26px;
}

.contact__social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.contact__social-link > svg {
  transition-duration: 0.6s;
  transition-property: fill;
}

.location::before {
  content: url(../../image/footer/contact/location.svg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.phone::before {
  content: url(../../image/footer/contact/tel.svg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mail::before {
  content: url(../../image/footer/contact/email.svg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__list {
  text-decoration: none;
  margin-bottom: 40px;
}

.contacts__item {
  text-decoration: none;
  position: relative;
  max-width: 370px;
  padding-left: 65px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__links {
  line-height: 38px;
}

.footer__social-item {
  display: inline-block;
}

.footer__social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.footer__social-item:not(:last-child) {
  margin-right: 27px;
}

.footer__social-link:hover > svg {
  transition-duration: 0.7s;
  transition-property: fill;
}

.contacts__location {
  margin-top: 0;
  padding-top: 0;
}

.contacts__location_street {
  padding-left: 91px;
}

.map {
  max-width: 680px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 156px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}

.footer__social-link:hover > svg {
  fill: #eadeed;
}

.footer__social-link:focus > svg {
  fill: #eadeed;
  outline: 1px solid var(--main-color);
}

.footer__social-link:active > svg {
  fill: var(--main-color);
}

.contacts__link {
  transition-duration: 0.5s;
  transition-property: color;
}

.contacts__link:hover {
  color: var(--main-color);
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 35px;
  }

  .footer__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 1000px) {
  .footer__title {
    font-size: 24px;
    line-height: 36px;
  }

  .contacts__item {
    padding-left: 40px;
    max-width: 300px;
  }

  .contact__city {
    max-width: 100%;
    margin-bottom: 0;
  }

  .contact__item_location {
    margin-bottom: 0;
    font-size: 24px;
  }

  .footer__social-link {
    width: 40px;
    height: 40px;
  }

  .location::before {
    content: url(../../image/footer/location768.svg);
    position: absolute;

    transform: translateY(-50%);
  }
  .phone::before {
    content: url(../../image/footer/phone768.svg);
    position: absolute;

    transform: translateY(-50%);
  }
  .mail::before {
    content: url(../../image/footer/mail768.svg);
    position: absolute;

    transform: translateY(-50%);
  }
}
@media (max-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 156px;
  }
  .contacts__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .location::before {
    content: url(../../image/footer/location768.svg);
    position: absolute;
    left: 55px;
    top: 32%;
    transform: translateY(-50%);
  }
  .phone::before {
    content: url(../../image/footer/phone768.svg);
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translateY(-50%);
  }
  .mail::before {
    content: url(../../image/footer/mail768.svg);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 560px) {
  .footer {
    padding-top: 15px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__list {
    font-size: 14px;
    line-height: 18px;
  }
  .contact__item {
    width: 270px;
  }
  .contacts__item {
    padding-left: 24px;
  }

  .footer__social-link {
    width: 30px;
    height: 30px;
  }
  .contacts__location {
    width: 183px;
  }

  .footer__bottom {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .location::before {
    content: url(../..//image/footer/location320.svg);
    position: absolute;

    transform: translateY(-50%);
  }
  .phone::before {
    content: url(../../image/footer/phone320.svg);
    position: absolute;

    transform: translateY(-50%);
  }
  .mail::before {
    content: url(../../image/footer/mail320.svg);
    position: absolute;

    transform: translateY(-50%);
  }
}
