.header {
  padding-top: 30px;
}

.header__top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1240px;

  text-transform: uppercase;
}

.header__nav-burger {
  width: 54px;
  min-height: 29px;
  background-color: transparent;
  background-image: url(../../image/header/768/menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.header__logo {
  width: 120px;
  height: 66px;

  background-image: url(../../image/header/logo.svg);
  background-repeat: no-repeat;
}

.header__nav {
  font-size: 22px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  transition-duration: 0.2s;
  transition-property: color;
}

.nav__link:hover {
  color: var(--main-color, #cd06ff);
}

.header__button-top {
  padding: 10px 30px;

  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
  color: inherit;
  border-radius: 10px;
  outline: 3px solid #cd06ff;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, border;

  transform: translateY(2px);

  position: relative;
}

.header__button-top:hover {
  background-color: var(--main-color-two, #6c0287);
  border-color: #fff;
}

.header__button-top:focus {
  background-color: var(--main-color-three, #640aa3);
  border: #000;
}

.header__button-top:active {
  background-color: var(--main-color-two, #6c0287);
  border: var(--main-color-three, #640aa3);
}

@media (max-width: 1200px) {
  .header__logo {
    width: 87px;
    height: 55px;

    background-image: url(../../image/header/768/logo_768.svg);
  }

  .header__nav {
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
  }

  .nav__list {
    gap: 20px;
  }

  .header__button-top {
    padding: 8px 24px;
    font-size: 18px;
    line-height: 24px;

    transform: translateY(1px);
  }
}

@media (max-width: 950px) {
  .header__nav-burger {
    display: inline-block;

    transform: translateY(5px);
  }

  .header__nav {
    display: none;
  }

  .header__button-top {
    transform: translateY(5px);
  }
}

@media (max-width: 700px) {
  .header__nav-burger {
    display: inline-block;
    width: 39px;
    height: 20px;

    background-size: contain;

    transform: translateY(9px);
  }

  .header__logo {
    width: 66px;
    height: 42px;

    background-size: contain;
  }

  .header__nav {
    display: none;
  }

  .header__button-top {
    display: none;

    transform: translateY(5px);
  }
}
