.modal {
  position: relative;
  display: none;
}

.modal-open {
  display: block;
}

.modal__overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  width: 100%;
  z-index: 5;
  padding: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #440f51;
  min-height: 498px;
  position: relative;
}

.modal__title {
  min-width: 197px;
  min-height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 60px;
  margin-bottom: 40px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  min-width: 186.67px;
  min-height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 50px;
}

.modal__input {
  min-width: 220px;
  min-height: 42px;
  background: #ffffff;
  margin-top: 6px;
}

.modal__submit {
  min-height: 51.67px;
  background: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6c0287;
  padding: 12px 30px;
}

.modal__submit:hover {
  box-shadow: 1px 1px 5px #fff, -1px -1px 5px #fff, -1px 1px 5px #fff,
    1px -1px 5px #fff;
}

.modal__close-btn {
  background-image: url(/image/closeBtn.svg);
  width: 42px;
  height: 42px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__cross {
  width: 38.36px;
  height: 3.39px;
  background: #ffffff;
  border-radius: 2px;
}

.modal__cross-one {
  transform: matrix(0.7, 0.72, -0.7, 0.72, 0, 0);
}

.modal__cross-two {
  transform: matrix(0.7, -0.72, 0.7, 0.72, 0, -3);
}

@media (min-width: 1024px) {
  .modal__form {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .modal__overlay {
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 145px;
  }
  .modal__label {
    min-width: 280px;
  }
}
