.burger-menu {
  background: #1b1a1b;
  width: 688px;
  height: 383px;
}

.burger__list {
  color: #fff;
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 100% */
  text-transform: uppercase;
  text-align: center;

  justify-content: center;
  display: flex;
  flex-direction: column;
}

.burger__item {
  cursor: pointer;
  height: 57px;
  padding-top: 20px;
}

.burger__item:hover {
  background: #6c0287;
}

.burger__item:active {
  background: #cd06ff;
}
