.variant {
  padding: 50px 0;
  font-weight: 700;
}

.variant__title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.variant__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}

.variant__item {
  position: relative;
  max-width: 380px;
  max-height: 229px;
  background-position: center;
  background-repeat: no-repeat;
}

.variant__item-vibes {
  background-image: url(/image/rooms/wives_01.jpg);
}
.variant__item-west {
  background-image: url(/image/rooms/west_03.jpg);
}
.variant__item-wars {
  background-image: url(/image/rooms/wars_02.jpg);
}
.variant__item-neon {
  background-image: url(/image/rooms/neon_04.jpg);
}

.variant__item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.variant__item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.variant__item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.variant__link {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  font-style: normal;
  padding: 100px 0;
  text-decoration: none;
  transition-duration: 1s;
  transition-property: color;
}

.varuant__box-img {
  max-height: 229px;
}

.variant__box-text {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.variant__link:hover {
  color: var(--main-color, #cd06ff);
}

@media (max-width: 1024px) {
  .variant {
    padding: 35px 0;
  }

  .variant__item {
    max-width: 288px;
    max-height: 172px;
  }
  .variant__title {
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 40px;
  }

  .variant__link {
    font-size: 30px;
    line-height: 120%;
    padding: 59px;
  }
}

@media (max-width: 768px) {
  .variant {
    padding: 30px 0;
  }

  .variant__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
  }

  .variant__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .variant__item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .variant__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .variant__item {
    max-width: 100%;
    max-height: 100%;
  }

  .variant__list {
    gap: 8px;
  }

  .variant__title {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }

  .variant__text {
    width: 100px;

    font-size: 20px;
    line-height: 120%;
  }
}

@media (max-width: 460px) {
  .variant {
    padding: 15px 0;
  }

  .variant__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
  }

  .variant__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .variant__item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .variant__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .variant__item {
    height: auto;
  }

  .variant__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .variant__text {
    width: 65px;
    font-size: 20px;
    line-height: 24px;
  }
}
